<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">TestNG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Cucumber</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#protract" role="tab" aria-controls="protract"
          aria-selected="false">Protractor</a>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <button class="btn btn-primary" (click)="getTestNG1()" [disabled]="isBusy">TestNG Tests</button>
          <ul>
            <li *ngFor="let ngTest of myNGResults">
              <ul>
                <li>Passed Tests</li>
                <ul>
                  <li *ngFor="let passedTest of ngTest.passed">
                    {{passedTest.name}}
                  </li>
                </ul>
                <li>Failed Tests</li>
                <ul>
                  <li *ngFor="let failedTest of ngTest.failed">
                    {{failedTest.name}}
                  </li>
                </ul>
                <li>Skipped Tests</li>
                <ul>
                  <li *ngFor="let skippedTest of ngTest.skipped">
                    {{failedTest.name}}
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <button class="btn btn-primary" (click)="getCuke1()" [disabled]="isBusy">Cucumber Tests</button>
          <ul id="cukeList">
            <li *ngFor="let cukeTest of myCukeResults">
              <p>{{cukeTest.name}}</p>
              <ul>
                <li *ngFor="let element of cukeTest.elements">
                  <p>{{element.keyword}}</p>
                  <ul>
                    <li *ngFor="let step of element.steps">
                      <p>{{step.name}}</p>
                      <ul>
                        <li>{{step.result.duration}}</li>
                        <li>{{step.result.status}}</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="protract" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-10">
            <button class="btn btn-primary" (click)="getProtractor()" [disabled]="isBusy">Protractor Tests</button>
            <p>{{myProtResults}}</p>
          </div>
        </div>
      </div>

  </div>
</div>